.container
  .left-column
    .space
    %h2 We're making one aspect of life easier for parents of multiples:

    %owl_32
      = image_tag "owls/owl_bright_blue_32.png"
      %h3 Making your kids look like twins from the Shining!
      %a#shop_now
        = image_tag "homepage/left_2_shop_now.png"
        .largeSpace
        .largeSpace
        .largeSpace
      #tree= image_tag "homepage/tree.png"

  .right-column
    .space
    #child_images
      #twins= image_tag "children/twins.jpg"
      #triplets= image_tag "http://blogueirashame.com.br/wp-content/uploads/large1.gif"
      -# #american_horror= image_tag "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQRTnSVBE-g_f_rD9W5-CgwPkyX2exTZc15qVYdgO_KH5HHSKRrkw"
      #children_of_the_corn= image_tag "http://www.eddecker.com/wp-content/uploads/2011/09/children-of-the-corn.jpg"
      #quads= image_tag "children/quads.jpg"
  .clear
  #bottom_line
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  = image_tag "homepage/dotted_line_44_36.png"
  -# = image_tag "homepage/dotted_line_44_36.png"
  .clear
  .container

    .call_outs= image_tag "homepage/facebook_callout.png"
    .call_outs= image_tag "homepage/twitter_callout.png"
    .call_outs= image_tag "homepage/message_board_callout.png"
    .call_outs= image_tag "homepage/special_offers_callout.png"
